#regiration_form fieldset:not(:first-of-type) {
    display: none;
}
input[type="button"]{
    padding: 4px 8px;
    margin-right: 10px;
    border:none;
    background-color: #ddd;
}
input[type="button"].active{
    background-color: #4CAF50;
    color:#fff;
}
input[type="checkbox"].hide{
    display:none;
}

#regiration_form{
    margin-top:100px;
}
.alert{
    border: none;
    background-color: none;
    background: none;
    color: rgb(238, 14, 14);
    margin-bottom: 10px;
}